In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("football_players.csv", encoding="ISO-8859-1")
df

,Name,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,...,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions,Preferred Positions Type
0,Cristiano Ronaldo,32,Portugal,94.0,89.0,63.0,89.0,63.0,93.0,95.0,...,94.0,23.0,91.0,92.0,31.0,80.0,85.0,88.0,ST LW,Forward
1,L. Messi,30,Argentina,93.0,92.0,48.0,90.0,95.0,95.0,96.0,...,85.0,26.0,87.0,73.0,28.0,59.0,90.0,85.0,RW,Forward
2,Neymar,25,Brazil,92.0,94.0,56.0,96.0,82.0,95.0,92.0,...,80.0,33.0,90.0,78.0,24.0,53.0,80.0,83.0,LW,Forward
3,L. Suárez,30,Uruguay,92.0,88.0,78.0,86.0,60.0,91.0,83.0,...,87.0,38.0,77.0,89.0,45.0,80.0,84.0,88.0,ST,Forward
4,M. Neuer,31,Germany,92.0,58.0,29.0,52.0,35.0,48.0,70.0,...,25.0,11.0,61.0,44.0,10.0,83.0,70.0,11.0,GK,GoalKeeper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17976,A. Kelsey,17,England,46.0,24.0,16.0,38.0,26.0,12.0,23.0,...,19.0,10.0,32.0,28.0,11.0,50.0,26.0,6.0,GK,GoalKeeper
17977,B. Richardson,47,England,46.0,25.0,44.0,35.0,44.0,22.0,44.0,...,13.0,13.0,25.0,32.0,12.0,47.0,17.0,12.0,GK,GoalKeeper
17978,J. Young,17,Scotland,46.0,66.0,26.0,60.0,77.0,41.0,50.0,...,42.0,14.0,51.0,33.0,17.0,32.0,37.0,33.0,ST,Forward
17979,J. Lundstram,18,England,46.0,57.0,46.0,58.0,74.0,43.0,45.0,...,43.0,47.0,58.0,49.0,48.0,46.0,51.0,25.0,CM,Midfielder
17980,L. Sackey,18,Ghana,46.0,48.0,52.0,49.0,47.0,32.0,33.0,...,21.0,43.0,49.0,55.0,44.0,67.0,22.0,19.0,ST CB,Back

In [5]:
df.describe()

,Age,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,Curve,...,Reactions,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys
count,17981.000000,17981.000000,17981.000000,17981.000000,17981.000000,17981.000000,17981.000000,17981.000000,17981.00000,17981.000000,...,17981.000000,17981.000000,17981.000000,17981.000000,17981.000000,17981.000000,17981.000000,17981.000000,17981.000000,17981.000000
mean,25.144541,66.247984,64.532618,55.789055,63.281464,63.775596,58.004783,57.815472,49.71709,47.290028,...,61.800178,58.203215,55.612980,45.504977,64.737501,63.166342,47.353874,65.202658,52.955731,43.212725
std,4.614272,6.987965,14.988620,17.485234,14.869227,14.144136,16.887647,13.019767,18.48589,18.468629,...,9.394082,15.018682,17.428851,21.486052,14.743693,16.019221,21.838839,12.734994,14.431258,17.742067
min,16.000000,46.000000,11.000000,11.000000,12.000000,11.000000,8.000000,5.000000,5.00000,6.000000,...,14.000000,10.000000,3.000000,4.000000,11.000000,12.000000,4.000000,12.000000,10.000000,4.000000
25%,21.000000,62.000000,56.000000,43.000000,55.000000,56.000000,53.000000,51.000000,37.00000,34.000000,...,55.000000,53.000000,46.000000,24.000000,57.000000,56.000000,26.000000,58.000000,43.000000,30.000000
50%,25.000000,66.000000,67.000000,59.000000,65.000000,66.000000,63.000000,60.000000,54.00000,48.000000,...,62.000000,62.000000,59.000000,51.000000,67.000000,66.000000,54.000000,66.000000,54.000000,44.000000
75%,28.000000,71.000000,75.000000,69.000000,74.000000,74.000000,69.000000,67.000000,64.00000,62.000000,...,68.000000,68.000000,69.000000,64.000000,75.000000,74.000000,66.000000,74.000000,64.000000,57.000000
max,47.000000,94.000000,96.000000,96.000000,96.000000,96.000000,95.000000,96.000000,91.00000,92.000000,...,96.000000,92.000000,94.000000,91.000000,96.000000,95.000000,92.000000,98.000000,94.000000,91.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17981 entries, 0 to 17980
Data columns (total 40 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      17981 non-null  object
 1   Age                       17981 non-null  int64
 2   Nationality               17981 non-null  object
 3   Overall                   17981 non-null  float64
 4   Acceleration              17981 non-null  float64
 5   Aggression                17981 non-null  float64
 6   Agility                   17981 non-null  float64
 7   Balance                   17981 non-null  float64
 8   Ball control              17981 non-null  float64
 9   Composure                 17981 non-null  float64
 10  Crossing                  17981 non-null  float64
 11  Curve                     17981 non-null  float64
 12  Dribbling                 17981 non-null  float64
 13  Finishing                 17981 non-null  float64
 14  Free kick accuracy        17981 non-null  float64
 15  GK diving                 17981 non-null  float64
 16  GK handling               17981 non-null  float64
 17  GK kicking                17981 non-null  float64
 18  GK positioning            17981 non-null  float64
 19  GK reflexes               17981 non-null  float64
 20  Heading accuracy          17981 non-null  float64
 21  Interceptions             17981 non-null  float64
 22  Jumping                   17981 non-null  float64
 23  Long passing              17981 non-null  float64
 24  Long shots                17981 non-null  float64
 25  Marking                   17981 non-null  float64
 26  Penalties                 17981 non-null  float64
 27  Positioning               17981 non-null  float64
 28  Reactions                 17981 non-null  float64
 29  Short passing             17981 non-null  float64
 30  Shot power                17981 non-null  float64
 31  Sliding tackle            17981 non-null  float64
 32  Sprint speed              17981 non-null  float64
 33  Stamina                   17981 non-null  float64
 34  Standing tackle           17981 non-null  float64
 35  Strength                  17981 non-null  float64
 36  Vision                    17981 non-null  float64
 37  Volleys                   17981 non-null  float64
 38  Preferred Positions       17981 non-null  object
 39  Preferred Positions Type  17981 non-null  object
dtypes: float64(35), int64(1), object(4)
memory usage: 5.5+ MB

In [6]:
df(5)

TypeError: 'DataFrame' object is not callable

In [14]:
a = np.array([[2,3,4,5,6],
              [7,8,9,10,11],
              [10,11,12,13,14]])
a[0,0]

2

In [16]:
b = np.array([[1,2,3],
              [4,5,6],
              ])

In [22]:
np.append(b, [[92, 88, 78]], axis=1)

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 0, the array at index 0 has size 2 and the array at index 1 has size 1

In [27]:
# np.append(b, [[92, 88, 78]], axis=0)

In [30]:
# How would you select the 5th row of a Pandas DataFrame, df, with names as indices? (1 mark)
df.loc[4]

Name                          M. Neuer
Age                                 31
Nationality                    Germany
Overall                           92.0
Acceleration                      58.0
Aggression                        29.0
Agility                           52.0
Balance                           35.0
Ball control                      48.0
Composure                         70.0
Crossing                          15.0
Curve                             14.0
Dribbling                         30.0
Finishing                         13.0
Free kick accuracy                11.0
GK diving                         91.0
GK handling                       90.0
GK kicking                        95.0
GK positioning                    91.0
GK reflexes                       89.0
Heading accuracy                  25.0
Interceptions                     30.0
Jumping                           78.0
Long passing                      59.0
Long shots                        16.0
Marking                           10.0
Penalties                         47.0
Positioning                       12.0
Reactions                         85.0
Short passing                     55.0
Shot power                        25.0
Sliding tackle                    11.0
Sprint speed                      61.0
Stamina                           44.0
Standing tackle                   10.0
Strength                          83.0
Vision                            70.0
Volleys                           11.0
Preferred Positions                GK
Preferred Positions Type    GoalKeeper
Name: 4, dtype: object

In [33]:
# How would you create a new column to transform a column ‘Age’ from years to decades?
df['decades'] = df['Age'].apply(lambda x:x/10)

In [34]:
df['decades']

0        3.2
1        3.0
2        2.5
3        3.0
4        3.1
        ...
17976    1.7
17977    4.7
17978    1.7
17979    1.8
17980    1.8
Name: decades, Length: 17981, dtype: float64

In [38]:
a = df['Overall'].max()

In [48]:
a

94.0

In [53]:
print(df['Name'][df['Overall'] == 94])

0    Cristiano Ronaldo
Name: Name, dtype: object

In [60]:
print(df['Overall'][df['Name'] == 'I. Messaoud'])
print(df['Overall'][df['Name'] == 'Y. Brahimi'])
print(df['Overall'][df['Name'] == 'R. Mahrez'])
print(df['Overall'][df['Name'] == 'M. Boulahia'])

17192    54.0
Name: Overall, dtype: float64
259    82.0
Name: Overall, dtype: float64
143    83.0
Name: Overall, dtype: float64
13544    62.0
Name: Overall, dtype: float64

In [49]:
players_of_interest = ['L. Messaoud', 'Y. Brahimi', 'R. Mahrez', 'M. Boulahia']

# Filter the DataFrame for the players of interest
filtered_df = df[df['Name'].isin(players_of_interest)]

# Find the player with the highest overall rating
highest_rated_player = filtered_df.loc[filtered_df['Overall'].idxmax()]

# Print the result
print(f"The Algeria player with the highest overall rating is {highest_rated_player['Name']} with a rating of {highest_rated_player['Overall']}.")

The Algeria player with the highest overall rating is R. Mahrez with a rating of 83.0.

In [61]:
print(df['Sliding tackle'][df['Name'] == 'R. Woodcock'])
print(df['Sliding tackle'][df['Name'] == 'Sergio Ramos'])
print(df['Sliding tackle'][df['Name'] == 'M. Hummels'])
print(df['Sliding tackle'][df['Name'] == 'J. Boateng'])

17863    18.0
Name: Sliding tackle, dtype: float64
10    91.0
Name: Sliding tackle, dtype: float64
27    90.0
Name: Sliding tackle, dtype: float64
25    90.0
Name: Sliding tackle, dtype: float64

In [72]:
print(df['Preferred Positions Type'].unique())

['Forward' 'GoalKeeper' 'Midfielder' 'Back']

In [76]:
print(df[(df['Nationality'] == 'England') & (df['Preferred Positions Type'] == 'Forward')]['Overall'].mean())
print(df[(df['Nationality'] == 'England') & (df['Preferred Positions Type'] == 'GoalKeeper')]['Overall'].mean())
print(df[(df['Nationality'] == 'England') & (df['Preferred Positions Type'] == 'Midfielder')]['Overall'].mean())
print(df[(df['Nationality'] == 'England') & (df['Preferred Positions Type'] == 'Back')]['Overall'].mean())

62.51324503311258
61.07865168539326
63.39303482587065
63.6691042047532

In [86]:
# %%timeit 

print(df[(df['Nationality'] == 'Brazil') & (df['Preferred Positions Type'] == 'Forward')]['Overall'].mean())

print(df[(df['Nationality'] == 'Brazil') & (df['Preferred Positions Type'] == 'Back')]['Overall'].mean())

70.02890173410404
71.49097472924188

In [87]:
# %%timeit

# Filter for Brazil players
brazil_players = df[df['Nationality'] == 'Brazil']

# Calculate the average overall rating for forwards
average_forward_rating = brazil_players[brazil_players['Preferred Positions Type'] == 'Forward']['Overall'].mean()

# Calculate the average overall rating for backs
average_back_rating = brazil_players[brazil_players['Preferred Positions Type'] == 'Back']['Overall'].mean()

# Compare and print the result
if average_forward_rating > average_back_rating:
    print(f"Brazils forwards have a higher average overall rating ({average_forward_rating:.2f}) than the backs ({average_back_rating:.2f}).")
else:
    print(f"Brazils backs have a higher average overall rating ({average_back_rating:.2f}) than the forwards ({average_forward_rating:.2f}).")

Brazils backs have a higher average overall rating (71.49) than the forwards (70.03).

In [88]:
print(df['Age'].max())

47

In [89]:
print(df['Nationality'][df['Age'] == 47])

17977    England
Name: Nationality, dtype: object

In [94]:
print(df['GK kicking'].mean())
print(df['GK diving'].mean())
print(df['GK reflexes'].mean())
print(df['GK handling'].mean())

16.37428396640899
16.71091707913909
16.838885490239697
16.490517768755907

In [95]:
print(df['Preferred Positions Type'].value_counts())

Preferred Positions Type
Midfielder    6769
Back          5848
Forward       3253
GoalKeeper    2111
Name: count, dtype: int64

In [98]:
print(df[(df['Nationality'] == 'Portugal') & (df['Age'] < 25)]['Overall'].max())

84.0

In [100]:
print(df['Name'][(df['Overall'] == 84) & (df['Nationality'] == 'Portugal')])

94    Bernardo Silva
Name: Name, dtype: object